body {
    background-color: #B7E0F3;
    margin: 0px;
    font-family: helvetica;
}

svg {
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

#exit-button {
    height:30px;
    width:30px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
}

.display_container {
    background-color: #FFF;
    opacity: 0.95;
    height: 20vh;
    border-radius: 10px 10px 0px 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    padding: 20px;
}

.display_container h1 {
    margin-top: 4px;
    font-size: 20px;
}

.results-panel {

}

.suggested-start {
    border-top: 1px solid lightgrey;
    padding: 20px;
}

.suggested-start h3 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.suggested-start p {
    margin-top: 0px;
    margin-bottom: 0px;
}